#include "resource.h"
#include <windows.h>

// Icon resource - opsiyonel, varsa kullanılır
// IDI_ICON1 ICON "icon.ico"

// Version info
1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041f04b0"
        BEGIN
            VALUE "CompanyName", "Ses Dengeleyici"
            VALUE "FileDescription", "Otomatik Ses Seviyesi Dengeleyici"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "SesDengeleyici"
            VALUE "LegalCopyright", "Copyright (C) 2025"
            VALUE "OriginalFilename", "SesDengeleyici.exe"
            VALUE "ProductName", "Ses Dengeleyici"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x41f, 1200
    END
END

